@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

:root {
    --red: #ffcaca;
    --orange: #ffedc1;
    --yellow: #feffb8;
    --green: #c4ffcb;
    --blue: #add8ff;
    --purple: #ccafe9;

    --darkgreen: #3E885B;
    --darkblue: #7fb4f5;

    --white: #fefefa;
    --lightgray: #94B0C2;
    --lightblue: #d1e9ff;
    --gray: #ADACB5;
    --darkgray: #333C57;
    --black: #454545;
    --trueblack: #000000;
}

* {
  font-family: 'Pangolin', cursive;
  color: var(--white);
}

html {
  background-color: #242424;
  font-size: 1em;
}


body {
  height: 100%;
  width: 50%;
  margin: 20px auto;
  padding-bottom: 50px;
  font-size: 100%
}

a {
  font-size: inherit;
  display: inline-block;
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: linear 0.2s;
  color: var(--purple);
}

.button {
  background: none;
  border: none;
  font-size: inherit;
}

h1 {
  font-size: 2em;
  text-align: center;
}


.rainbow {
  animation:/*  wave 1s linear var(--n) infinite forwards running, */ rainbow-anim 3s linear infinite forwards running;
  position: relative;
}

@media screen and (prefers-reduced-motion: reduce)
{
  .rainbow {
    animation: none;
  }
}

@keyframes wave{
  0%    {top: 0px;}
  25%   {top: -3px;}
  50%   {top: 0px;}
  75%  {top: 3px;}
  100% {top: 0px;}
}

@keyframes rainbow-anim {
  0% {color: var(--red);}
  17% {color: var(--orange);}
  33% {color: var(--yellow);}
  50% {color: var(--green);}
  67% {color: var(--blue);}
  83% {color: var(--purple);}
  100% {color: var(--red);}
}

@media only screen and (hover: none) and (pointer: coarse) {
   body {
     font-size: 200%
  }
}